[submodule "metadrive"]
	path = metadrive
	url = https://github.com/emb-ai/metadrive.git
[submodule "plant2"]
	path = plant2
	url = https://github.com/emb-ai/plant2.git
[submodule "CaRL"]
	path = CaRL
	url = https://github.com/autonomousvision/CaRL.git
